<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="theme-color" content="#FFF">
  <link rel="apple-touch-icon" href="/img/icon-192x192.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/minified/style.css">
  <title>Random Star Wars Character Generator</title>
  <link rel="manifest" href="/manifest.json">
</head>