body{
    background-color: black;
  }
  
  h1{
    /* font-family: StarWars; */
    color: yellow;
  }
  
  p{
    color: rgb(0, 247, 255);
    border-style: solid;
    border-width: 3px;
    border-color: yellow;
    padding: 2px;
    font-family: Verdana;
    font-weight: bold;
  }
  
  a{
    color: rgb(0, 247, 255);
    text-decoration: none;
  }
  
  button a{
    text-decoration: none;
    color: black;
  }

  input{
    padding: 10px;
    font-family: Verdana;
    font-weight: bold;
    background-color: yellow
  }

  .hidden{
    display: none;
  }