<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Random Star Wars Character Generator</title>
</head>

<body>
	<h1 id='Title'>Random Star Wars characters</h1>
	<section id="details">
		<p id="name">Name: <%- myjson.results[0].name%></p>
		<p id="gender">Gender: <%- myjson.results[0].gender%></p>
		<p id="birthday">Birthday: <%- myjson.results[0].birth_year%></p>
		<p id="mass">Mass: <%- myjson.results[0].mass%>KG</p>
		<form action="/randomize" method="GET">
			<input id="RandomButton" type="submit" value="Back">
		</form>
	</section>

	<main></main>

</body>
</html>